{% extends 'base.html' %}

{% block title %}
List of countries
{% endblock %}

{% block content %}
{% if countries %}
<div class="continent-title">
    <h2>Countries in {{continent}}</h2>
</div>

<div class="table-div">
    <!-- Table -->
    <table class="continent-table" id="sortable">
        <tr>
            <th onclick="sortBy(0)">Country</th>
            <th onclick="sortBy(1)">Capital</th>
            <th onclick="sortBy(2)">Population</th>
            <th onclick="sortBy(3)">Density (P/Km²)</th>
            <th onclick="sortBy(4)">Land Area(Km²)</th>
            <th onclick="sortBy(5)">Info</th>
        </tr>
        </tr>
        {% for country in countries %}
        <tr class="tr-info">
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.population }}</td>
            <td>{{ country.population_density }}</td>
            <td>{{ country.land_area}}</td>
            <td><i class="fa fa-flag" aria-hidden="true" onclick="window.location.href='/{{ country.name }}';"></i>
</td>

        </tr>
        {% endfor %}
    </table>
</div>


{% else %}
<p>No countries are available.</p>
{% endif %}

{% endblock %}
