{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    {% if country %}


          <div class="country-title-div" >
            <h2>{{ country.name }}</h2>
          </div>
                    <div class="country-table-div">
                         <table class="country-table">
                         <tr>
                             <td colspan="2" class="image-col">
                                <img src="https://flagcdn.com/256x192/{{ country.alpha_2 }}.png" class="card-img-top" alt="{{ country.name}}">
                             </td>
                         </tr>
                        <tr>
                            <th>Capital</th>
                            <td>{{ country.capital }}</td>
                        </tr>
                        <tr>
                            <th>Population</th>
                            <td>{{ country.population }}</td>
                        </tr>
                        <tr>
                            <th>Density (P/Km²)</th>
                            <td>{{ country.population_density }}</td>
                        </tr>
                         <tr>
                            <th>Land Area(Km²)</th>
                            <td>{{ country.land_area }}</td>
                        </tr>
                         </table>
                        <button class="country-btn"  onclick="window.location.href='continent/{{country.continent.name}}';">
                        Back to overveiw
                        </button>
                    </div>


    {% else %}
        <p>No countries are available.</p>
    {% endif %}

{% endblock %}
