{% extends 'base.html' %}

{% block title %}
LOL
{% endblock %}

{% block content %}
    {% if country %}

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <div class="panel-body">
            </div>


          <div class="container py-3" >
            <h2>{{ country.name }}</h2>
            <hr>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-5 pb-4">
                  <div class="card h-100" style="border:none">
                       <a href="/" class="btn btn-outline-primary">Back</a>
                    <img src="https://flagcdn.com/256x192/{{ country.alpha_2 }}.png" class="card-img-top" alt="{{ country.name}}" style="width: auto; height: 250px; object-fit: scale-down;">
                    <div class="card-body">
                         <table class="table">
                        <tr>
                            <th>Capital</th>
                            <td>{{ country.capital }}</td>
                        </tr>
                        <tr>
                            <th>Population</th>
                            <td>{{ country.population }}</td>
                        </tr>
                        <tr>
                            <th>Density (P/Km²)</th>
                            <td>{{ country.population_density }}</td>
                        </tr>
                         <tr>
                            <th>Land Area(Km²)</th>
                            <td>{{ country.land_area }}</td>
                        </tr>
                         </table>

                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

    {% else %}
        <p>No countries are available.</p>
    {% endif %}

{% endblock %}
