{% extends 'base.html' %}

{% block title %}
List of countries
{% endblock %}

{% block content %}
    {% if countries %}

            <div>
                <h5>All countries in {{continent}}</h5>
            </div>

            <div class="card-deck">
                {% for country in countries %}
              <div class="card">
                <img class="card-img-top" src="https://flagcdn.com/256x192/{{ country.alpha_2 }}.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ country.name }}</h5>
                  <table class="table">
                    <tr>
                        <th>Capital</th><td>{{ country.capital }}</td>
                    </tr>
                    <tr>
                        <th>Population</th><td>{{ country.population }}</td>
                    </tr>
                    <tr>
                        <th>Density (P/Km²)</th><td>{{ country.population_density }}</td>
                    </tr>
                    <tr>
                        <th>Land Area(Km²)</th><td>{{ country.land_area}}</td>
                    </tr>
                  </table>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            {% endfor %}
            </div>
    {% else %}
    <p>No countries are available.</p>
    {% endif %}
{% endblock %}