{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css'%}">
<!--    <link rel="icon" href="https://cdn.icon-icons.com/icons2/3123/PNG/512/earth_planet_globe_environement_world_icon_191963.png">-->
    <!--Bootstrap CSS-->

    <title class="main-title">{% block title %}Atlas 0.1{% endblock %}</title>
</head>

<body>
  <!--Navbar-->
  {% include 'navbar.html' %}
  <!--Navbar-->
    {% block content %}

    {% endblock %}

  <!--footer-->
  {% include 'footer.html' %}
  <!--footer-->


</body>
</html>
