<div class="navbar">
    <a class="navbar-back" href="/">
        <i class="fa fa-globe" aria-hidden="true"></i>
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            Continents
            <em class="fa fa-caret-down"></em>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/continent/Africa">Africa</a>
            <a class="dropdown-item" href="/continent/Asia">Asia</a>
            <a class="dropdown-item" href="/continent/Europe">Europe</a>
            <a class="dropdown-item" href="/continent/Americas">North-America</a>
            <a class="dropdown-item" href="/continent/Oceania">Oceania</a>
            <a class="dropdown-item" href="/continent/Americas">South-America</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            Maps
            <em class="fa fa-caret-down"></em>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/maps/map">World</a>
            <a class="dropdown-item" href="/maps/aruba">Country</a>
        </div>
    </div>
    <a class="nav-link" href="mailto:SOMEONESEMAIL@gmail.com">Contact</a>
    <a class="nav-link" href="/swagger/">Swagger</a>
</div>