<!-- <nav class="main-nav">-->
<!--    <a class="navbar-brand" href="/">Atlas V0.1</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="nav" id="navbarText">-->
<!--      <ul class="navigation">-->
<!--        <li class="nav-item">-->
<!--            <div class="dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Continents-->
<!--              </a>-->
<!--              <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                <a class="dropdown-item" href="/continent/africa">Africa</a>-->
<!--                <a class="dropdown-item" href="/continent/asia">Asia</a>-->
<!--                <a class="dropdown-item" href="/continent/europe">Europe</a>-->
<!--                <a class="dropdown-item" href="/continent/north-america">North-America</a>-->
<!--                <a class="dropdown-item" href="/continent/oceania">Oceania</a>-->
<!--                <a class="dropdown-item" href="/continent/south-america">South-America</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          &lt;!&ndash; <a class="nav-link" href=" ">Countries</a>  &ndash;&gt;-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Maps</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="mailto:SOMEONESEMAIL@gmail.com">Contact</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/swagger/">Swagger</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

 <div class="navbar">
     <a class="navbar-back" href="/">Atlas</a>
     <div class="dropdown">
        <button class="dropbtn">
            Continents
            <em class="fa fa-caret-down"></em>
        </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/continent/africa">Africa</a>
                <a class="dropdown-item" href="/continent/asia">Asia</a>
                <a class="dropdown-item" href="/continent/europe">Europe</a>
                <a class="dropdown-item" href="/continent/north-america">North-America</a>
                <a class="dropdown-item" href="/continent/oceania">Oceania</a>
                <a class="dropdown-item" href="/continent/south-america">South-America</a>
              </div>
        </div>
      <a class="nav-link" href="#">Maps</a>
      <a class="nav-link" href="mailto:SOMEONESEMAIL@gmail.com">Contact</a>
      <a class="nav-link" href="/swagger/">Swagger</a>
 </div>

