<div class="navbar">
    <a class="navbar-back" href="/">
        <i class="fa fa-globe" aria-hidden="true"></i>
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            Continents
            <em class="fa fa-caret-down"></em>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/continent/africa">Africa</a>
            <a class="dropdown-item" href="/continent/asia">Asia</a>
            <a class="dropdown-item" href="/continent/europe">Europe</a>
            <a class="dropdown-item" href="/continent/north-america">North-America</a>
            <a class="dropdown-item" href="/continent/oceania">Oceania</a>
            <a class="dropdown-item" href="/continent/south-america">South-America</a>
        </div>
    </div>
    <a class="nav-link" href="#">Maps</a>
    <a class="nav-link" href="mailto:SOMEONESEMAIL@gmail.com">Contact</a>
    <a class="nav-link" href="/swagger/">Swagger</a>
</div>

